<!DOCTYPE html>
<html lang="es" >
  <head>
    <meta charset="UTF-8">
    <title>tablet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/clock.css">
    <link rel="stylesheet" href="css/pop_up.css">
    <style type="text/css">
    	#Recreo{
    		color: white;
    		z-index: 9999;
    		font-size: 24px;
    	}
    </style>
  </head>
  <body>
    <!-- MENU -->
    <div class="menu">
      <div class="overlay"></div>
      <div class="fab"></div>
      <ul class='button'>
        <li><span id='reset'>Reset</span><span class="fa fa-#{icon}"></span></li>
        <li><span id='emergency-alarm'>Emergency Alarm</span><span class="fa fa-#{icon}"></span></li>
      </ul>
    </div>
    <!-- POP UP -->
    <div class="pop-up">
      <div class="content">
        <div class="container">
          <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
          <span class="close">close</span>
          <div class="title">
            <h1>PRESIONE PARA CONTINUAR</h1>
          </div>
          <div class="subscribe">
            <form>
              <input id="accept" type="button" class="button" value="ACEPTAR">
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- CLOCK -->
    <div ng-app="clockApp" class="aa">
      <div ng-controller="TimeController">
        <h1 id="Recreo"></h1>
        <div id="clock" ng-click="changeFormat()">
          <div id="info"> 	
            <div id="time">{{ time }}</div>
            <h1 id="date">{{ date | date:'MMMM d'}}</h1>
            <div id="next-hour"> Proximo Timbre {{ time }}</div>
          </div>
          <div id="slider1"></div>
          <div id="slider2"></div>
        </div>
      </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="js/clock.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/pop_up.js"></script>
    <script type="text/javascript">
		var chatSocket = new WebSocket('ws://127.0.0.1:8000/ws/kronosapp/room/');
		var respuestaReset = '';
		var respuestaEmer = '';

		chatSocket.onmessage = function(e) {
			var data = JSON.parse(e.data);
			var message1 = data['hour'];
			var message2 = data['color'];
			var message3 = data['desc'];
			$('#next-hour').html("Proximo Timbre " + message1);
			$('body').css("background-color",message2);
			$('#Recreo').text(message3);
			$('.button').hide();
			console.log(message1);
			console.log(message2);
			console.log(message3);
			/*$('.menu').toggle()
			$('.menu').toggleClass('active');
			$('body').css('z-index', -1);
			$('.menu').css('z-index', 1);*/	
		};
		chatSocket.onclose = function(e) {
			console.error('Chat socket closed unexpectedly');
		};
    </script>
  </body>
</html>
