@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  background: #fc3c3c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.aa{
  z-index: 0;
}
#Recreo{
  margin-bottom: 25px;
  font-size: 32px;
}
#clock {
  color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease-in-out;
  user-select: none;
  border-radius: 2em;
  padding: 0.5em 1em;
  backface-visibility: hidden;
  transition: all 0.5s;
  margin-bottom: 50px;
}
/*#clock:hover {
  background: #D2D2D2;
}*/
#clock #info {
  width: 100%;
}
#clock #info #time {
  font-size: 6em;
  display: inline-block;
}
#clock #info #date {
  margin-bottom: 0.2em;
  font-size: 2em;
  display: inline-block;
}
#clock #info #next-hour {
  font-size: 1.5em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#controls #slider {
  display: block;
  cursor: pointer;
  width: 2em;
  height: 1.5em;
  transition: 0.25s;
  position: relative;
}
#controls #slider div {
  position: absolute;
  content: "";
  height: 0.5em;
  width: 0.5em;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.25s;
}
#controls #slider #slider2 {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
  opacity: 0.5;
}

@media screen and (max-width: 750px) {
  #clock #info #time {
    font-size: 4.5em;
  }
  #clock #info #date {
    font-size: 1.5em;
  }
  #clock #info #next-hour {
    font-size: 1em;
  }
}
@media screen and (max-width: 450px) {
  #clock #info #time {
    font-size: 3em;
  }
  #clock #info #date {
    font-size: 1em;
  }
  #clock #info #next-hour {
    font-size: 0.5em;
  }
}
