{% load i18n %}

{% if module.children %}
    {% if module.layout == "stacked" %}
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Hour" %}{{ label|capfirst }}</th>
                    <th>{% trans "Ringtone" %}{{ label|capfirst }}</th>
                </tr>
            </thead>
            <tbody>
                {% for data in module.children %}
                    <tr>
                        <th>{{ data.hour }}</th>
                        <th>{{ data.ringtone.type }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% else %}
    <ul>
        <li>
            {% trans "There are no ringtimes today" %}
        </li>
    </ul>
{% endif %}
